# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt


ionic-frontend/.sourcemaps
ionic-frontend/.versions
ionic-frontend/coverage

# Ionic
ionic-frontend/.ionic
ionic-frontend/www
ionic-frontend/platforms
ionic-frontend/plugins

# Compiled output
ionic-frontend/dist
ionic-frontend/tmp
ionic-frontend/out-tsc
ionic-frontend/bazel-out

# Node
ionic-frontend/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# Miscellaneous
ionic-frontend/.angular
ionic-frontend/.angular/cache
.sass-cache/
ionic-frontend/connect.lock
ionic-frontend/coverage
ionic-frontend/libpeerconnection.log
testem.log
ionic-frontend/typings

# System files
.DS_Store
Thumbs.db


# Flask
flask-backend/venv/
flask-backend/.idea/
flask-backend/instance/
__pycache__/